@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Oleo+Script+Swash+Caps&display=swap");
* {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #ebf0f5 !important;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Alert messages */
.alert {
  font-size: 85%;
  font-weight: 500;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 20%;
  color: #fff;
  border-radius: 5px;
  animation: fade 0.3s cubic-bezier(0, 1.6, 1, 1);
  -webkit-animation: fade 0.3s cubic-bezier(0, 1.6, 1, 1);
  -moz-animation: fade 0.3s cubic-bezier(0, 1.6, 1, 1);
  -ms-animation: fade 0.3s cubic-bezier(0, 1.6, 1, 1);
  -o-animation: fade 0.3s cubic-bezier(0, 1.6, 1, 1);
  z-index: 99999;
  border: 0;
  animation: fade 1s linear;
}
.alert-danger {
  background: rgb(196, 13, 13);
}
.alert-success {
  background: rgb(7, 161, 7);
}

.btn {
  font-family: "Poppins", "sans-serif";
  cursor: pointer;
  border: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  font-size: 0.95rem;
}

.btn-sm {
  font-size: 0.77rem !important;
  padding: 8px !important;
}

.btn-xs {
  font-size: 0.55rem !important;
}

.btn-primary {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9213ac),
    to(#b431e7)
  );
  background: linear-gradient(90deg, #9213ac, #b431e7);
}

.btn-primary:hover {
  -webkit-box-shadow: 0px 0px 5px #b431e7 !important;
  box-shadow: 0px 0px 5px #b431e7 !important;
}

.btn-success {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0aa712),
    to(#1dcc26)
  );
  background: linear-gradient(90deg, #0aa712, #1dcc26);
}

.btn-success:hover {
  -webkit-box-shadow: 0px 0px 5px #1dcc26 !important;
  box-shadow: 0px 0px 5px #1dcc26 !important;
}

.btn-danger {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a70a0a),
    to(#cc1d1d)
  );
  background: linear-gradient(90deg, #a70a0a, #cc1d1d);
}

.btn-danger:hover {
  -webkit-box-shadow: 0px 0px 5px #cc1d1d !important;
  box-shadow: 0px 0px 5px #cc1d1d !important;
}

.card {
  border: 0 !important;
  -webkit-box-shadow: 0px 5px 10px rgba(227, 227, 227, 0.25);
  box-shadow: 0px 5px 10px rgba(227, 227, 227, 0.25);
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 9px !important;
}

.card .card-header {
  background-color: #263949 !important;
  color: #fff;
  font-weight: 500px;
  font-size: 80%;
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 125);
}

.card .card-body {
  color: grey;
  font-size: 0.8rem;
}

#sidebar-toggler-sm {
  display: none;
}

.sidebar {
  min-height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 3px 0px 8px rgba(242, 242, 242, 0.25);
  box-shadow: 3px 0px 8px rgba(242, 242, 242, 0.25);
  padding: 0 !important;
  position: -webkit-sticky;
  position: sticky;
}

.sidebar .sidebar-top {
  background: #fbfdff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 0.95rem;
  font-weight: bold;
}

.sidebar .sidebar-top .fname {
  color: #b431e7;
  font-size: 1.3rem;
  font-family: "Oleo Script Swash Caps", cursive;
  font-weight: normal !important;
}

.sidebar .nav-pills .separator-text {
  padding: 15px;
  font-weight: bold;
  font-size: 10px;
  line-height: 22px;
  color: #9213ac;
}

/* setting separator */
.sidebar .nav-pills .sidebar-head {
  font-weight: bold;
  font-size: 10px;
  line-height: 22px;
  margin-left: 12px;
  color: #8e8e8e !important;
}

.sidebar .nav-pills .nav-item {
  width: 100%;
  margin-bottom: 5px;
}

.sidebar .nav-pills .nav-item ul {
  list-style-type: none;
  position: relative;
}

.sidebar .nav-pills .nav-item ul .nav-item {
  width: 90%;
  margin: 5px 5%;
}

.sidebar .nav-pills .nav-item ul .nav-item .nav-link {
  font-size: 11px;
}

.sidebar .nav-pills .nav-item ul .nav-item :hover {
  padding-right: 10px;
  background-color: rgba(180, 49, 231, 0.4);
}

.sidebar .nav-pills .nav-item ul::after {
  content: "";
  width: 3.8px;
  height: 100%;
  background-color: #b431e7;
  opacity: 0.18;
  position: absolute;
  left: 35px;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .sidebar .nav-pills .nav-item ul {
    margin-left: 60px;
  }
}

.sidebar .nav-pills .nav-item .nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #8e8e8e;
}

.sidebar .nav-pills .nav-item .nav-link span {
  display: inline-block;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.sidebar .nav-pills .nav-item .nav-link .icon {
  width: 15%;
  text-align: center;
  padding-left: 3px;
}

.sidebar .nav-pills .nav-item .nav-link .text {
  width: 70%;
  padding-left: 10px;
  font-weight: bold;
}

.sidebar .nav-pills .nav-item .nav-link .caret {
  width: 10%;
  text-align: left;
}

.sidebar .nav-pills .nav-item .nav-link[aria-expanded="true"] > .caret i.fas {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar .nav-pills .nav-item :hover {
  color: #313131;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar .nav-pills .nav-link.active,
.sidebar .nav-pills .show > .nav-link {
  font-weight: bold;
  color: #494949;
  background-color: rgba(180, 49, 231, 0.4);
}

@media only screen and (max-width: 768px) {
  #sidebar-toggler-desk {
    display: none !important;
  }
  .sidebar {
    display: none;
  }
  #sidebar-toggler-sm {
    display: block;
    width: 30%;
    margin: 10px 35%;
    outline: none;
  }
  :focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.main-area {
  padding: 0 !important;
}

.main-area .navbar {
  max-height: 50px;
  background: #fafcfe !important;
  -webkit-box-shadow: 0px 3px 8px rgba(243, 243, 243, 0.25);
  box-shadow: 0px 3px 8px rgba(243, 243, 243, 0.25);
  z-index: 1;
}

.main-area .navbar .nav-link {
  font-size: 0.75rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    height: auto !important;
    max-height: 300px !important;
  }
  .navbar .nav-link {
    text-align: center !important;
  }
}

label {
  font-size: 0.78rem !important;
  font-family: "Muli", sans-serif !important;
}

.form-control {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #dad1d1;
  outline: none;
  font-size: 0.92em;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border: 2px solid #b431e7;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}

/* student header */
#details-view .card {
  border: 1px solid lightgrey !important;
  margin-bottom: 10px;
}

.tab-card .card-body span,
#student_info span {
  display: block;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 85%;
}

.tab-card .card-body h6,
#student_info h6 {
  margin-top: 15px;
  color: rgb(25, 105, 180);
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  background-color: transparent;
}
.text-info {
  color: #17a2b8 !important;
  font-weight: bold;
}

.h6,
h6 {
  font-size: 1rem;
}

.h5,
h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

textarea.form-control {
  box-sizing: border-box !important;
  resize: none;
  height: auto;
}

textarea {
  border: 1px solid #f7f7f7;
  box-sizing: border-box !important;
}

textarea:focus {
  border: 1px solid #b431e7 !important;
}

.student-info-list {
  font-size: 85%;
}

.student-info-list .list-group-item {
  border: 0;
  border-top: 1px solid lightgray;
}

/* Print button icon */
@media print {
  .no-print {
    display: none !important;
  }
}

/* fee collection icon */
@media only screen and (max-width: 768px) {
  #icon {
    margin-left: 30px !important;
  }

  #fee {
    margin-left: 38px !important;
  }
}

/* DataTables buttons */
.dt-button {
  background: rgb(235, 235, 235) !important;
  border: 0 !important;
  color: rgb(44, 44, 44) !important;
  border-radius: 5px !important;
  font-size: 73% !important;
  border-bottom: 2px solid rgb(163, 163, 163) !important;
}

@media only screen and (max-width: 768px) {
  .dt-button {
    background: rgb(235, 235, 235) !important;
    border: 0 !important;
    color: rgb(44, 44, 44) !important;
    border-radius: 5px !important;
    font-size: 73% !important;
    border-bottom: 2px solid rgb(163, 163, 163) !important;
  }
}

button,
select {
  text-transform: none !important;
}

@media only screen and (max-width: 760px) {
  button,
  select {
    text-transform: none !important;
  }
}

/* Hover */
.dt-button:hover {
  background: rgb(44, 44, 44) !important;
  border: 0 !important;
  color: #fff !important;
  border-radius: 5px !important;
  font-size: 73% !important;
  border-bottom: 2px solid rgb(163, 163, 163) !important;
  transition: 0.35s !important;
}

@media only screen and (max-width: 760px) {
  .dt-button:hover {
    background: rgb(44, 44, 44) !important;
    border: 0 !important;
    color: #fff !important;
    border-radius: 5px !important;
    font-size: 73% !important;
    border-bottom: 2px solid rgb(163, 163, 163) !important;
    transition: 0.35s !important;
  }
}

/* Tabs */

.nav-tabs .nav-link {
  color: gray !important;
}

.nav-tabs .nav-link.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000 !important;
  border-top: 3px solid rgb(0, 110, 225);
}

.tab-card {
  border: 1px solid #d3d3d3;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  border-radius: 3px !important;
}

.tab-card .card-body {
  padding: 5px !important;
}

#image-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: auto;
  border: 2px double rgb(230, 230, 230);
}

/* Mark-attendence btn */
#mark-attendence {
  padding: 7px !important;
  font-size: 13px !important;
  margin-bottom: 22px !important;
}
@media only screen and (max-width: 760px) {
  #mark-attendence {
    padding: 7px !important;
    font-size: 13px !important;
    margin-bottom: 22px !important;
  }
}
/* Mark as holiday */
#mark-as-hd {
  padding: 7px !important;
  font-size: 13px !important;
  margin-bottom: 22px !important;
}

@media only screen and (max-width: 760px) {
  #mark-as-hd {
    padding: 7px !important;
    font-size: 13px !important;
    margin-bottom: 22px !important;
  }
}

/* Attendence radio click change color and font-size */
.attendence-table input[type="radio"]:checked + label {
  font-weight: bold !important;
  color: rgb(28, 167, 28) !important;
}

/* attendence table */
.attendence-table label {
  font-size: 100% !important;
}

/* radio disabled work */

.holiday-td {
  cursor: not-allowed !important;
  opacity: 0.7 !important;
  position: relative !important;
}
.holiday-td input[type="radio"] {
  pointer-events: none;
}

/* Disabled holiday */
.holiday-td::after {
  position: absolute;
  top: 0;
  right: 3px;
  content: "Holiday";
  font-size: 90%;
  color: rgb(185, 121, 0);
}

.only-print {
  display: none !important;
}

/* Only-print */
@media print {
  .no-print {
    display: none !important;
    visibility: hidden !important;
  }

  .only-print {
    display: block !important;
  }

  #attendence-report-table .pres-per {
    background: #fff !important;
    color: gray !important;
  }
}

/* Session  */
#current_session {
  font-weight: bold;
  font-size: 90%;
  margin-left: 10px;
}

.nav-item .nav-link a {
  text-decoration: none;
}

/* Credentials password */
#pwd-wrapper {
  position: relative;
}
#pwd-wrapper > #show-pwd {
  position: absolute;

  right: 0;
  bottom: 0;
}

/* Dashbord cards */
.cards .total-student {
  background: #7812cc !important;
  border-bottom: 3px solid #610994 !important;
}

.cards .card {
  color: #fff !important;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgb(196, 196, 196);
  -webkit-box-shadow: 0px 0px 15px rgb(196, 196, 196);
  -moz-box-shadow: 0px 0px 15px rgb(196, 196, 196);
  -ms-box-shadow: 0px 0px 15px rgb(196, 196, 196);
  -o-box-shadow: 0px 0px 15px rgb(196, 196, 196);
}

.cards .card .fa,
.cards .card .far,
.cards .card .fas {
  position: absolute;
  bottom: 2px;
  right: 10px;
  opacity: 0.4;
}

.cards .card footer {
  color: rgb(241, 241, 241);
}
.cards .card-body {
  color: #fff;
  font-size: 16px;
}
.cards .total-usesrs {
  background: #cc5612 !important;
  border-bottom: 3px solid #944809 !important;
}

.cards .fee-collected {
  background: #01a194 !important;
  border-bottom: 3px solid rgb(2, 95, 87) !important;
}

.cards .fee-expenses {
  background: #009148;
  border-bottom: 3px solid #044223 !important;
}

/*# sourceMappingURL=app.css.map */
